@model DankaFinal.Models.ctdathang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ctdathang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.soLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thanhTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thanhTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dondathang.soDh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dondathang.soDh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Khoahocedm.tenKhoahoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Khoahocedm.tenKhoahoc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
